.address-item{
    border: 1px dashed #090;
}
.name{
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 5px;
}
.ok{
    background-color: #F8694A;
    color: #fff;
    padding: 10px 15px;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
}
.huy{
    padding: 10px 15px;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    background-color: #ccc;
}
.default{
    position: absolute;
    top: 10px;
    right: 6%;
    display: block;
    font-size: 11px;
    color: #090;
}
.input-address{
    width: 50%;
    height: inherit;
    padding-left: 2%;
}
.input-phone{
    width: 50%;
    height: inherit;
    padding-left: 2%;
}
.input-email{
    width: 50%;
    height: inherit;
    padding-left: 2%;
}